django
bootstrap4
django_cleanup
easy_thumbnails
captcha
djangorestframework
django-cors-headers
django-crispy-forms
django-phonenumber-field
channels
phonenumbers
django-simple-captcha
django-bootstrap4