{% load bootstrap4 %}
{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <title>{% block title %}Главная{% endblock title %} - Доска объявлений</title>
    {% bootstrap_css %}
    <link rel="stylesheet" type="text/css"
          href="{% static 'main/style.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between border">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerBboard" aria-controls="navbarTogglerBboard" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand ml-5" href="{% url 'main:index' %}">
            Bboard
        </a>
        <div class="form-inline">
            <div class="collapse navbar-collapse" id="navbarTogglerBboard">
                <ul class="nav navbar-nav mr-5">
                    {% if user.is_authenticated %}
                    <li class="nav-item ">
                        <a class="nav-link" href="{% url 'main:profile_liked' %}">
                            <i class="fas fa-heart"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fas fa-bell"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fas fa-comment"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'main:profile' %}">Мои объявления</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle"
                           data-toggle="dropdown"
                           href="#" role="button" aria-haspopup="true"
                           aria-expanded="false">Профиль</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{% url 'main:profile' %}">
                                Мои
                                Объявления
                            </a>
                            <a class="dropdown-item" href="{% url 'main:profile_change' %}">Изменить личные данные</a>
                            <a class="dropdown-item" href="{% url 'main:password_change' %}">Изменить пароль</a>
                            <div class="dropdown-driver"></div>
                            <a class="dropdown-item" href="{% url 'main:logout' %}">Выйти</a>
                            <div class="dropdown-driver"></div>
                            <a class="dropdown-item" href="{% url 'main:profile_delete' %}">Удалить</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link bg-primary text-light ml-2 rounded circle"
                           href="{% url 'main:profile_bb_add' %}">
                            Добавить объявление
                        </a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'main:login' %}">Вход</a>
                    </li>
                    <li class="nav-item mr-5">
                        <a class="nav-link" href="{% url 'main:register' %}">Регистрация</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mr-5" href="#"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mr-5" href="#"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mr-4" href="#"></a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link mr-5" href="#"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mr-5" href="#"></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="form-group mt-2">
        <form method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col-2 ml-5"></div>
                <div class="col-md-push-6 mb-1">
                    <a href="{% url 'main:index' %}" style="color: #000 !important; text-decoration: none">
                        <i class="fas fa-sign fa-3x"></i>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-2 ml-5"></div>
                <div class="col-md-push-6">
                    {{ form.rubric|as_crispy_field }}
                </div>
                <div class="col-md-5">
                    {{ form.keyword|as_crispy_field }}
                </div>
                <div class="col-md-push-6">
                    <button type="submit" class="btn btn-outline-secondary">Поиск</button>
                </div>
            </div>
        </form>
    </div>
    <section class="py-2 ml-5">
        {% bootstrap_messages %}
        {% block content %}
        {% endblock %}
    </section>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>-->
    {% bootstrap_javascript %}
    {% block js %}
    {% endblock js %}
</body>
</html>