{% extends 'layout/profile.html' %}
{% load thumbnail %}
{% load static %}
{% load bootstrap4 %}

{% load bootstrap4 %}

{% block title %}Смена пароля{% endblock %}

{% block profile_content %}
<div class="container">
    <h2>Смена пароля пользователя {{ user.username }}</h2>
    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form layout='horisontal'%}
        <div class="d-flex justify-content-start">
            <a href="{% url 'main:profile_change' %}" class="btn btn-secondary mr-3" style="height: 38px;">Назад</a>
            {% buttons submit='Сменить пароль' %} {% endbuttons %}
        </div>
    </form>
</div>
    {% endblock %}
